/* 
  Color Scheme
  #f1f6f9
  #14274e
  #394867
  #9ba4b4



  Dark Blue: #12232E
  Lighter Blue: #007CC7
  Lightest Blue: #4DA8DA
  Shadow of Dark Blue: #203647
  Shadow of Light Blue: #EEFBFB

*/

/* General */

html {
  /* Normalize */
  margin: 0;
  padding: 0;
}

body {
  /* Normalize */
  padding: 0;
  margin: 0;
  /* For the main body */
  background-color: #f1f6f9;
  text-align: center;
  color: #394867;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

/* Headers */

header {
  background-color: #14274e;
  color: #9ba4b4;
  text-align: center;
  margin-top: 0;
  padding: 0.25em 0;
}

header h1 {
  margin: 0;
  font-size: 36px;
  text-transform: uppercase;
  padding-top: 20px;
}

header nav ul {
  list-style: none;
  /* Flex */
  display: flex;
  justify-content: center;
  padding-left: 0;
}

header nav ul li a {
  color: #9ba4b4;
  margin: 0 4px 0 0;
  text-decoration: none;
  text-transform: uppercase;
}

header nav ul li a:last-child {
  padding-right: 0;
}

/* Main Body */

img {
  height: 400px;
  width: auto;
}

main {
  padding: 0 6px;
}

#contact ol {
  padding-left: 0;
  list-style: none;
}

hr {
  width: 20%;
}

#technology {
  text-align: left;
  padding: 3px;
  border: 1px solid #14274e;
}

/* Projects */

#projects-list {
  display: flex;
  justify-content: space-between;
  text-align: left;
  list-style: none;
  padding-left: 0;
}

.project-item {
  /* background-color: #9ba4b4; */
  max-width: 30%;
  min-width: 20%;
  text-align: center;
  border: 1px solid #14274e;
  padding: 6px;
  margin: 10px;
}

#projects-list li a {
  display: block;
  text-align: center;
  font-size: 16px;
  margin-bottom: 4px;
}

form {
  margin: 6px 15px;
  text-align: left;
}

form label {
  display: block;
}

form label input, form label textarea {
  display: block;
}

/* Link Stylings */
 
a {
  color: #394867;
}

a:visited {
  color: #9ba4b4;
}

a:hover, a:active {
  color: #14274e;
}

/* Desktop */

@media all and (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  header h1 {
    display: inline;
    padding-top: 0;
  }

  #projects-list {
    display: flex;
    justify-content: space-around;
  }

  #projects-list li {
    margin: 6px;
    flex: 1;
  }

  section {
    padding: 1em 15%;
  }

  .group {
    display: flex;
  }

  .item-double {
    flex: 2;
  }

  .item {
    flex: 1;
  }
}